:root {
    --nav-colour: #4e3d28;
    --dark-colour: #d2b48c;
    --medium-colour:#d8c3a5;
    --light-colour: #e2dcc3;
    --off-white: #f0f0ea;
}

/* body */

body {
    background: url("../images/background.png");
}

/* navbar */

.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/nav-background.png");
    opacity: 0.8;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item {
    margin: 0px 15px;
}
.nav-item a {
    color: var(--light-colour);
}
.navbar h1 {
    color: var(--light-colour);
}
.navbar h1:hover {
    cursor: default;
}
.nav-item a:hover {
    color: var(--dark-colour);
}
.navbar-items {
    background: url("../images/nav-background.png");
}

/* jumbotron */

.jumbotron {
    padding-top: 100px;
    padding-left: 50px;
}
.jumbo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
    padding-bottom: 20px;
}
.self-image {
    border-radius: 50%;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contact-button {
    background-color: var(--medium-colour);
    border: none;
    color: var(--off-white);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-right: 20px;
}
.contact-button:hover {
    background-color: var(--light-colour);
}
.contact-button:active { 
    background-color: var(--medium-colour) !important;
    transform: scale(0.9);
} 
.center-button {
    text-align: center;
}
