:root {
    --nav-colour: #4e3d28;
    --dark-colour: #d2b48c;
    --medium-colour:#d8c3a5;
    --light-colour: #e2dcc3;
    --off-white: #f0f0ea;
}

/* body */
body {
    background: url("../images/background.png");
    background-size: cover;
}
.my-4 {
   margin-left: 50px;
   margin-right: 50px;
}

/* navbar */
.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/nav-background.png");
    opacity: 0.8;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item {
    margin: 0px 15px;
}
.nav-item a {
    color: var(--light-colour);
}
.navbar h1 {
    color: var(--light-colour);
}
.navbar h1:hover {
    cursor: default;
}
.nav-item a:hover {
    color: var(--dark-colour);
}
.navbar-items {
    background: url("../images/nav-background.png");
}
.navbar-toggler-icon { display: none;} /* burger menu */
button.navbar-toggler { display: none;}

/* jumbotron */
.jumbotron {
    padding-top: 100px;
    padding-left: 50px;
}
.jumbo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
    padding-bottom: 20px;
    cursor: default;
}
.lead {
    cursor: default;
}
.profile-picture {
    border-radius: 50%;
    border: 2px solid var(--nav-colour);
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-primary {
    background-color: var(--medium-colour);
    border: none;
    color: var(--off-white);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-right: 20px;
    margin-bottom: 20px;
}
.btn-primary:hover {
    background-color: var(--light-colour);
}
.btn-primary:active { 
    background-color: var(--medium-colour) !important;
    transform: scale(0.98);
} 
.center-button {
    text-align: center;
}

/* projects */
.projects {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto auto;
    padding: 0% 10% 0% 10%;
  }
.project-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
.card img {
    max-height: 300px;
    object-fit: cover;
} 
.section-heading, .skills-subheading, .skill-subheading {
    padding-left: 10%;
    padding-bottom: 10px;
}
.card {
    position: relative;
    opacity: 0.8;
}
.card:hover {
    opacity: 1;
}
.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* skills */
.flex-container {
    display: flex;
    padding-left: 10%;
}  
.flex-container > div {
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: 30px;
}
.skill-icon img {
    max-height: 100px;
    width: 100%;
}
.skill-label {
    font-size: 12px;
    text-align: center;
    cursor: default;
}

/* contact */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    justify-content: center;
    align-items: center;
}  
.contact-container > div {
    margin-right: 3%;
    margin-bottom: 20px;
}
.contact-icon img {
    max-height: 50px;
}
.contact-icon a {
    font-size: 70%;
}

/* media screen */
@media screen and (max-width: 905px) {
    li {display: none;}
    .navbar-toggler {
        display: inline;
    }
    .contact-container {
        grid-template-columns: 1fr 1fr;
    }
}